.env*
!*.example
*.local
node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
taskrankr-debug-*.json
client/dev-dist

cypress/results
cypress/videos
cypress/screenshots

playwright/results
test-results/